.card{
	transition : box-shadow 0.2s;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.card:hover{
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}
.card.rounded{
	border-radius: 8px;
}

.card.card-white{
	background: white;
}
.card.rounded > .app-image.rounded > img{
	border-radius: 8px 8px 0 0;
}
.card .app-title{
	font-weight: bold;
	font-size: 1.2em;
	padding: 15px;
}
.app-card>a{
	text-decoration: none;
}
.app-description{
	font-size: 1.4em;
	padding: 15px;
}
.app-facebook{
	margin-bottom: 20px;
}
.card{
	margin-bottom: 20px;
}
.facebook-button{
	font-size: 1.7em;
	background: #4267b2;
	color: white;
	display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
}
.facebook-button:hover{
	color:white;
	text-decoration: none;
}
.aside{
	position: relative;
	overflow: hidden;
}
.aside.hide{
	display: none !important;
}
.aside .blend{
	position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0),rgba(245,248,250,0.96),#f5f8fa);
}
.play-again{
	text-align:center;
}
.play-again a{
	display: inline-block;
	padding:10px 20px;
	border: 1px solid #555;
	border-radius: 5px;
	margin-bottom : 20px;
	color : #555;
	font-weight: bold;
}
.play-again a:hover{
	color: #555;
	text-decoration: none ;
}